main 
  section.hero 
    h1.hidden «Фриплан» — студия дизайна интерьера
    .container
      p.title 
        | Дизайн-проект интерьера вашей квартиры, дома, офиса
        br
        | Профессионально. Выгодно. 
        span.accent Онлайн.
      include column 
      button.calc
        | Рассчитать стоимость
        img(src=require("../img/right-arrow.svg"), width="37" height="20" alt="")
  section.about 
    h2.hidden О нас
    p.title А что может быть важнее, чем интерьер дома вашей мечты?
    p.desc 
      | «Фриплан» - студия дизайна интерьера, для которой нет границ. 
      | Наша команда работает удаленно, создавая профессиональные дизайн-проекты 
      | по обмерочному плану помещений, заполненному техническому заданию на сайте 
      | и индивидуальным пожеланиям клиентов.
    .about__list 
      .about__block
        img(src=require("../img/wallet.svg"), width="52" height="51" alt="")
        h3 Выгодно
        p Экономия до 50% по сравнению с дорогостоящими услугами дизайн-студий
      .about__block 
        img(src=require("../img/improvement.svg"), width="65" height="44" alt="") 
        h3 Быстро
        p Только разработка – никаких утомительных встреч и согласований на объекте.
      .about__block 
        img(src=require("../img/paper.svg"), width="41" height="50" alt="")
        h3 Официально
        p Все работы - по заключенному договору и точно в срок.
  section.portfolio 
    h2 Наши проекты 
    ul.portfolio__list
      - for (let x = 0; x < 6; x++)
        li.card
          article
            h3.card__title Таунхаус 147м<sup>2</sup>
            p.card__desc 
              | Московская область, Раменский район,  д.п. Кратово, ул. Бородинская  
              br
              | Англо-американский стиль
          .card__views 7755
            img(src=require("../img/view.svg"), alt="")
          .corner 
          .corner 
          .corner 
          .corner 
          a.link(href="#" aria-label="Перейти к портфолио") 
      li
        a.btn-like.purple(href="#") Перейти к портфолио
          img(src=require("../img/right-arrow.svg"), width="37" height="20" alt="")
  section.price 
    h2.hidden Стоимость 
    p.title Сколько это стоит? Что нужно для начала работы? Как вы это делаете?
    p.desc 
      | Мы знаем – у вас много вопросов. Будьте уверены: ни один из них не останется 
      | без ответа! Чтобы узнать больше об условиях и возможностях, выберите объект, 
      | для которого планируется разработка дизайна интерьера
    .price__list
      .price__item
        include ../img/building.svg
        h3 Квартира
        a.link(href="#" title="Квартира")
      .price__item
        include ../img/village.svg
        h3 Дом
        a.link(href="#" title="Дом")
      .price__item
        include ../img/office-block.svg
        h3 Офис
        a.link(href="#" title="Офис")
  section.benefits 
    h2.hidden Преимущества
    p.title Мы любим свою работу и делаем ее хорошо.
    p.desc 
      | Лучшее доказательство – более 10 000 кв. метров интерьеров, 
      | ежедневно создающих комфорт и уют для клиентов «Фриплан»
    .benefits__list
      .benefits__item
        img(src=require("../img/star.svg"), width="30" height="30" alt="") 
        p Более 5 лет на рынке удаленной разработки интерьеров
      .benefits__item
        img(src=require("../img/star.svg"), width="30" height="30" alt="") 
        p 
          | Подбор материалов, мебели и оборудования из ассортимента 
          | удобных для вас магазинов
      .benefits__item
        img(src=require("../img/star.svg"), width="30" height="30" alt="") 
        p В штате – только дипломированные архитекторы и дизайнеры
      .benefits__item
        img(src=require("../img/star.svg"), width="30" height="30" alt="") 
        p Работаем по всей России и в странах СНГ
    .corner 
    .corner 
  section.contact 
    h2.hidden Получить пример
    .container
      p.title Получите пример дизайн-проекта, чтобы оценить наши возможности!
      include contact.pug
  section.review 
    h2.title Нам доверяют
    .review__list 
      - for (let x = 0; x < 3; x++)
        .review__item
          blockquote 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusantium animi aliquam veniam, facere a sint, non accusamus ad sequi illo sunt perferendis vero magnam vel pariatur deserunt tenetur rem suscipit aperiam necessitatibus quia placeat doloribus architecto? Aspernatur, optio unde.
          cite 
            | Максим, МО г. Долгопрудный
            br
            | Квартира-студия 29м
            sup 2
  section.consult 
    h2.hidden Свяжитесь с нами
    .container
      p.title 
        | Нет времени разбираться? 
        br
        | Мы расскажем все сами – оставьте заявку на консультацию прямо сейчас!
      include contact.pug
  include request
  .fade