main 
  section.hero 
    h1.hidden «Фриплан» - студия дизайна интерьера
    .container
      p.title 
        | Дизайн-проект интерьера вашей квартиры, дома, офиса 
        br
        | Профессионально. Выгодно. 
        span.accent Онлайн.
      .column
        p Чтобы сделать вашу мечту реальностью, не нужно многочисленных выездов и личных встреч. Всю необходимую для работы информацию мы получаем онлайн, что в разы экономит ваши деньги и время.
        button.calc
          | Рассчитать стоимость
          img(inline src=require("../img/right-arrow.svg"), width="36", height="17")
  section.about 
    h2.hidden О нас
    p.title А что может быть важнее, чем интерьер дома вашей мечты?
    p «Фриплан» - студия дизайна интерьера, для которой нет границ. Наша команда работает удаленно, создавая профессиональные дизайн-проекты по обмерочному плану помещений, заполненному техническому заданию на сайте и индивидуальным пожеланиям клиентов.
    .about__block
      img(inline src=require("../img/wallet.svg"), width="53", height="52")
      h3 Выгодно
      | Экономия до 50% по сравнению с дорогостоящими услугами дизайн-студий
    .about__block 
      img(inline src=require("../img/improvement.svg"), width="53", height="52") 
      h3 Быстро
      | Только разработка – никаких утомительных встреч и согласований на объекте.
    .about__block 
      img(inline src=require("../img/paper.svg"), width="53", height="52")
      h3 Официально
      | Все работы - по заключенному договору и точно в срок.
  section.portfolio 
    h2 Наши проекты 
    .list
      - for (let x = 0; x < 6; x++)
        .card
          h3.card__title Таунхаус 147м<sup>2</sup>
          p.card__desc 
            | Московская область, Раменский район,  д.п. Кратово, ул. Бородинская  
            br
            | Англо-американский стиль
          .card__views 7755
            img(inline src=require("../img/view.svg"), width="25", height="25", alt="Просмотры")
          .corner 
          .corner 
          .corner 
          .corner 
          a(href="#", aria-label="Перейти к портфолио") 
    a.btn-like(href="#") Перейти к портфолио
      img(inline src=require("../img/right-arrow.svg"), width="36", height="17")
  section.price 
    h2 Сколько это стоит?
    p.title Что нужно для начала работы? Как вы это делаете?
    p Мы знаем – у вас много вопросов. Будьте уверены: ни один из них не останется без ответа! Чтобы узнать больше об условиях и возможностях, выберите объект, для которого планируется разработка дизайна интерьера
    .items
      .items__block
        img(inline src=require("../img/building.svg"), width="100", height="100")
        h3 Квартира
        a(href="#" aria-label="Узнать стоимость дизайна квартиры") 
      .items__block
        img(inline src=require("../img/village.svg"), width="100", height="100")
        h3 Дом
        a(href="#" aria-label="Узнать стоимость дизайна дома") 
      .items__block
        img(inline src=require("../img/office-block.svg"), width="100", height="100")
        h3 Офис
        a(href="#" aria-label="Узнать стоимость дизайна офиса") 
  section.benefits 
    h2.hidden Преимущества
    p.title Мы любим свою работу и делаем ее хорошо.
    p Лучшее доказательство – более 10 000 кв. метров интерьеров, ежедневно создающих комфорт и уют для клиентов «Фриплан»
    .items
      .items__block
        img(inline src=require("../img/star.svg"), width="25", height="25") 
        p Более 5 лет на рынке удаленной разработки интерьеров
      .items__block
        img(inline src=require("../img/star.svg"), width="25", height="25") 
        p Подбор материалов, мебели и оборудования из ассортимента удобных для вас Магазинов
      .items__block
        img(inline src=require("../img/star.svg"), width="25", height="25") 
        p В штате – только дипломированные архитекторы и дизайнеры
      .items__block
        img(inline src=require("../img/star.svg"), width="25", height="25") 
        p Работаем по всей России и в странах СНГ
    .corner 
    .corner 
  section.contact 
    h2.hidden Пример дизайн-проекта
    .container
      p.title Получите пример дизайн-проекта, чтобы оценить наши возможности!
      form(action="submit")
        input(placeholder="Ваше имя")
        input(type="email", placeholder="Ваш e-mail")
        button Получить пример проекта
          img(inline src=require("../img/right-arrow.svg"), width="36", height="17")
      .column
        span *Мы не передаем ваши персональные данные третьим лицам
        br
        span 
          | **Подавая заявку, вы принимаете 
          a(href="#") условия нашей политики конфиденциальности
  section.review 
    h2 Нам доверяют
    - for (let x = 0; x < 3; x++)
      .review__block
        blockquote 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim accusantium animi aliquam veniam, facere a sint, non accusamus ad sequi illo sunt perferendis vero magnam vel pariatur deserunt tenetur rem suscipit aperiam necessitatibus quia placeat doloribus architecto? Aspernatur, optio unde.
        cite 
          | Максим, мо г. Долгопрудный
          br
          | Квартира-студия 29м
          sup 2
  section.consult 
    h2.hidden Свяжитесь с нами
    .container
      p.title 
        | Нет времени разбираться? 
        br
        | Мы расскажем все сами – оставьте заявку на консультацию прямо сейчас!
      form(action="submit")
        input(placeholder="Ваше имя")
        input(type="email", placeholder="Ваш e-mail")
        button Получить пример проекта
          img(inline src=require("../img/right-arrow.svg"), width="36", height="17")
      .column
        span *Мы не передаем ваши персональные данные третьим лицам
        br
        span 
          | **Подавая заявку, вы принимаете 
          a(href="#") условия нашей политики конфиденциальности
  section.request
    button.close(aria-label="Закрыть") &#215;
    h2 Рассчитайте стоимость вашего дизайн-проекта
    fieldset.field(style="display:flex")
      legend 1. Укажите тип помещения
      .field__radio
        input#flat(type="radio" name="type" value="flat" checked) 
        label(for="flat") Квартира
      .field__radio
        input#house(type="radio" name="type" value="house") 
        label(for="house") Частный дом
      .field__radio
        input#office(type="radio" name="type" value="office") 
        label(for="office") Офис
    fieldset.field
      legend 
        | 2. Укажите площадь помещений дизайн-проекта, м
        sup 2
      input(placeholder="Площадь помещения, м2")
    fieldset.field  
      legend 3. Ваши данные
      input(placeholder="Ваше имя")
      input(type="email", placeholder="Ваш e-mail")
    .request__bottom  
      .column 
        span 
          | *Мы не передаем ваши персональные данные третьим лицам
          br
          | **Подавая заявку, вы принимаете условия нашей 
          a(href="#") политики конфиденциальности
      .step Шаг 1 из 3
      button.prev 
        | Назад 
        img(inline src=require("../img/right-arrow.svg"), width="36", height="17")
      button.next 
        | Вперед 
        img(inline src=require("../img/right-arrow.svg"), width="36", height="17")
  .fade